.alert-overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0,0,0,0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
}

.alert-message {
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: blueviolet;
}

.alert-box {
background: white;
padding: 20px;
border-radius: 12px;
min-width: 280px;
box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.alert-buttons {
display: flex;
gap: 10px;
margin-top: 20px;
justify-content: flex-end;
}


.alert-button {
padding: 8px 14px;
border-radius: 8px;
border: none;
cursor: pointer;
background: #007bff;
color: white;
}


.alert-button:hover {
opacity: 0.8;
}