.quiz-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  background-color: #fafafa;
}

.question-edit-box {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.add-option-btn,
.delete-option-button {
  margin-top: 0.4rem;
}

button {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
